#root {
  

  text-align: center;
}

td {
  /* Make cells same width and height and centered */
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  background: #bbced3;
  color:black;
}

td.red {
  background: #e57373;
}

td.green {
  background:#81c784;
}

td.blue {
  background:#4fc3f7;
}

